.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1078px;
    margin: auto;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    color: #0A0A0A;
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
  }
  
  .input-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 343px;
  }
  
  .input-label label {
    font-size: 14px;
    font-weight: 400;
    color: #0A0A0A;
  }
  
  .input-label input {
    height: 44px;
    padding: 8px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .add-staff-btn {
    width: 330px;
    height: 51px;
    background-color: #015EAA;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .add-staff-btn:hover {
    background-color: #004A87;
  }
  