.inputContainer {
	box-sizing: border-box;
	width: 32.7rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	position: relative;
}

.inputContainer label {
	color: var(--Neutral-100, #0a0a0a);
	font-family: Inter;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.1rem; /* 150% */
	letter-spacing: -0.0084rem;
}

.inputContainer input {
	box-sizing: border-box;
	width: 100%;
	height: 4.4rem;
	padding: 0.8rem;
	justify-content: center;
	align-items: flex-start;
	border-radius: 0.8rem;
	border: 1px solid var(--Neutral-50, #c2c2c2);
	background: var(--Neutral-10, #fff);

	color: var(--Neutral-100, #0a0a0a);
	font-family: Inter;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.1rem; /* 150% */
	letter-spacing: -0.0084rem;
}

.inputContainer input::placeholder {
	color: var(--Neutral-100, #0a0a0a);
	font-family: Inter;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: -0.0084rem;
	opacity: 1;
}

.inputContainer input:read-only {
	background: var(--Neutral-30, #e0e0e0);
	color: var(--Neutral-80, #757575);
	cursor: not-allowed;
}

.inputContainer img {
	width: 2rem;
	height: 2rem;
	position: absolute;
	right: 1.2rem;
	bottom: 1.2rem;
	cursor: pointer;
}
