header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid rgba(2, 41, 138, 0.7);
}

.logoBox {
	width: 30rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-right: 1px solid rgba(2, 41, 138, 0.7);
}

.logoText {
	color: #015ca8;
	font-family: Pretendard;
	font-size: 2.3292rem;
	font-style: normal;
	font-weight: 700;
	line-height: 125%; /* 2.9115rem */
	white-space: nowrap;
}

.searchBox {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 3rem;
	padding-right: 3rem;
}

.searchBox button {
	padding: 1.3rem 4rem;
	border-radius: 1rem;
	background: #015eaa;
	border: none;
	cursor: pointer;

	color: #fff;
	font-family: Nunito;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2.4rem;
}

button:hover {
	background: #757575;
}
