.infoContainer {
	box-sizing: border-box;
	width: 100%;
	margin-left: 3rem;
	margin-right: 2.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.infoContainer h3 {
	width: 100%;
	margin: 0;
	color: var(--Neutral-100, #0a0a0a);
	font-family: Inter;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2.4rem; /* 150% */
	letter-spacing: -0.0176rem;
}

.infoForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.rowContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 3rem;
	border-bottom: 1px dotted #146adc;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.row img {
	margin-top: 2.8rem;
	width: 4.5rem;
	height: 4.5rem;
	cursor: pointer;
}

.infoForm button {
	width: 31rem;
	margin-left: 35rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	background: #015eaa;
	border: none;
	cursor: pointer;

	color: #fff;
	font-family: Nunito;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.4rem; /* 171.429% */
}
