.editContainer {
	width: 108rem;
	display: flex;
	flex: 6.925;
	flex-direction: column;
}

.menu {
	box-sizing: border-box;
	margin: 2.2rem 3rem 1rem 3rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1.6rem;
}

.menu p {
	color: var(--Neutral-70, #757575);
	font-family: Inter;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: -0.0084rem;
	cursor: pointer;
}

.menu p:hover {
	color: var(--Primary-Main, #212143);
	border-bottom: 1px solid #146adc;
}

.menu p.active {
	color: var(--Primary-Main, #212143);
	border-bottom: 1px solid #146adc;
	font-weight: 600;
}

.contentContainer {
	width: 100%;
}
