.navContainer {
	box-sizing: border-box;
	width: 30.75rem;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 3.35rem;
	padding-right: 3.35rem;
	gap: 1.3rem;
	border-right: 1px dotted rgba(2, 41, 138, 0.7);
	overflow-y: auto;
	overflow-x: hidden;

	position: sticky; /* ✅ 스크롤 시에도 네비게이션이 고정됨 */
	top: 0;
	align-self: flex-start;
	overflow-x: hidden;
	background: white; /* ✅ 배경을 고정하여 투명해지지 않도록 설정 */
	z-index: 1000;
}

.navContainer p {
	margin: 0;
	color: #015ca8;

	font-family: Urbanist;
	font-size: 1.553rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 0.0776rem;
}

.mainBox {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.category {
	width: 100%;
	height: 2.2rem;
	display: flex;
	flex-direction: row;
	padding: 1rem 1rem;
	gap: 1rem;
	cursor: pointer;
}

.category img {
	width: 20px;
	height: 22px;
}

.category p {
	margin: 0;
	color: #015ca8;
	font-family: Urbanist;
	font-size: 1.5528rem;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

.category:hover,
.category.active {
	background: linear-gradient(107deg, #0580e6 13.39%, rgba(2, 27, 121, 0.2) 77.64%); /* 블루 계열 그라데이션 */
	border-radius: 2rem; /* 둥근 모서리 효과 */
	transform: scale(1.1); /* 살짝 확대 */
}

.category:hover p {
	color: #fff;
	font-family: Urbanist;
	font-size: 1.5528rem;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
}

.category.active p {
	color: #fff;
	font-family: Urbanist;
	font-size: 1.5528rem;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
}
