.card-container {
  width: 250px;
  height: 134px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-left {
  display: flex;
  flex-direction: column;
}

.card-number {
  font-size: 38px;
  font-weight: bold;
  color: #252c58;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #252c58;
}

.card-subtext {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
}

.increase-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.card-icon img {
  width: 42px;
  height: 42px;
  background: #f5f7fd;
  border-radius: 50%;
  padding: 10px;
}
