.employees-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px; /* 카드 크기 고정 */
  min-height: 130px; /* 최소 높이 설정 */
}

.employees-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 전체 너비 사용 */
}

.employees-number {
  font-size: 32px;
  font-weight: bold;
  color: #252C58;
}

.employees-icon {
  width: 42px;
  height: 42px;
  background: #F2F4FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employees-text {
  font-size: 16px;
  font-weight: bold;
  color: #252C58;
}

.employees-subtext {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
